		
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<%= javascript_include_tag 'jquery.dropshadow', 'MarkerTooltip', 'editor' %>
		


		<div id="editor">
			
			<ul class="editor_list">
				<li class="first"><a href="#">Help</a></li>
				<li><a href="#">Close tool</a></li>
			</ul>
			
			<div id="tools">
				<div class="table">
					<div class="header">
						<div class="top-left-tool"></div>
						<div class="top-repeat-tool">
							<div class="left">
								<h2>TOOLS</h2>
							</div>
							<div class="right">
								<h2>ANALYSIS AND SOURCES</h2>
							</div>
						</div>						
						<div class="top-right-tool"></div>
					</div>
					<div class="center">
						<div class="left-repeat-tool"></div>
						<div class="center-tool">
							<div class="left">
								<a href="#" class="select selected"></a>
								<a href="#" class="add"></a>
								<a href="#" class="remove"></a>
							</div>
							<div class="right">
							</div>
						</div>
						<div class="right-repeat-tool"></div>
					</div>
					<div class="footer">
						<div class="bottom-left-tool"></div>
						<div class="bottom-repeat-tool"></div>
						<div class="bottom-right-tool"></div>
					</div>	
				</div>
			</div>
			
			<div id="map_container">
				<div class="table">
					<div class="header">
						<div class="top-left-map"></div>
						<div class="top-repeat-map">
							<h1 class="specie">213_Luzula_StasekSlouch.rdl<sup>(unsaved)</sup></h1>
						</div>						
						<div class="top-right-map"></div>
					</div>
					<div class="center">
						<div class="left-repeat-map"></div>
						<div class="center-map">
							<div id="map"></div>
						</div>
						<div class="right-repeat-map"></div>
					</div>
					<div class="footer">
						<div class="bottom-left-map"></div>
						<div class="bottom-repeat-map">
							<div class="left">
								<a href="#" class="undo"></a>
								<a href="#" class="redo"></a>
							</div>
							<div class="right">
								<a href="#" class="save"></a>
								<a href="#" class="print"></a>
								<a href="#" class="download"></a>
							</div>
						</div>
						<div class="bottom-right-map"></div>
					</div>	
				</div>
			</div>

		</div>
	