  <% content_for :js do %>
    <%= headjs_include_tag "home/application.js", "plugins/jquery.min", "http://www.google.com/jsapi", "home/HomeConvexHull" %>
  <% end -%>

    <section class="layout small">
      <div id="map"></div>
      <div class="opaque"></div>
    </section>

    <section class="about">
    	<div class="float">
	    	<header>
	        <h1>Help & Support</h1>
	      </header>
	      <div class="left">
	        <h2 class="margin40">GeoCAT help</h2>
	        <p>You can <a href="http://www.kew.org/science-research-data/kew-in-depth/gis/species-conservation/geocat/index.htm" target="_blank">check the GeoCAT User Guide</a> to guide you in the usage of the tool.
	        	The User Guide includes <a href="http://www.kew.org/science-research-data/kew-in-depth/gis/species-conservation/geocat/help/index.htm" target="_blank">Help</a>, <a href="http://www.kew.org/science-research-data/kew-in-depth/gis/species-conservation/geocat/faq/index.htm" target="_blank">FAQs</a>, <a href="http://www.kew.org/science-research-data/kew-in-depth/gis/species-conservation/geocat/screencasts/index.htm" target="_blank">Screencasts</a> and <a href="http://www.kew.org/science-research-data/kew-in-depth/gis/species-conservation/geocat/documents/index.htm" target="_blank">data templates</a> to help you make the most of GeoCAT.</p>

	        <h2 class="margin40">Mailing list</h2>
	        <p>If you think you will become a regular user of GeoCAT, you will find a lot of useful information in <a href="http://groups.google.com/group/geocatusers" target="_blank">GeoCAT Mailing List</a>. Subscribe to it and get in touch with us and other users.</p>
	        <form action="http://groups.google.com/group/geocatusers/boxsubscribe">
	        	<h5>Subscribe to GeoCAT Google Group</h5>
						<label>EMAIL</label>
						<input type=text name="email" />
						<input type=submit name="sub" value="Subscribe" />
					</form>

					<h2 class="margin40">Looking for help?</h2>
	        <p>Do you have any doubt, problem or suggestion about the tool? <a href="mailto:GISUnit@kew.org">Contact us</a>.</p>
	      </div>
	      <nav class="right menu">
	      	<a href="/what">What is GeoCAT?</a>
	      	<a class="selected">Help & Support</a>
	      	<a href="/about">About the project</a>
	      </nav>
	    </div>

	    <footer>
	      <div class="inner">
	        <div class="left">
	          <p>All rights reserved. <%= Time.now.year %>. <a href="http://www.kew.org/about-kew/website-information/legal-notices/" target="_blank">Legal terms</a> / <a href="mailto:GISUnit@kew.org">Contact us</a></p>
	        </div>
	        <div class="right">
	          <a href="http://www.vizzuality.com" target="_blank">Vizzuality</a>
	          <p>Developed by</p>
	        </div>
	      </div>
	    </footer>

	    <nav class="links_menu">
	    	<a href="/">&#60; BACK TO GEOCAT TOOL</a>
	    </nav>
    </section>
    
 

    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1321334-1']);
     _gaq.push(['_setDomainName', '.kew.org']);
     _gaq.push(['_trackPageview']);
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>