<div id="main_container">
	<h1>Endangered Species Analysis tool</h1>
	<label>What species do you want to analyse?</label>
	<form>
		<input type="text" value="Start typing your desired taxon..." />
	</form>
	<form class="upload">
		<p>or continue working in a previous report</p>
		<input value="Upload your file" />
		<a href="upload/rlas/"></a>
	</form>
</div>


<!-- UPLOAD EXAMPLE -->
	<!-- < % form_for Rla.new do |r| % > -->
	
	<!-- < % = form_for R l a. n e w, : html => { multipart => t r u e } d o | r | %>
				< % = r . l a b e l : id , % > :
 				
				< % =  r . file_field  % >
				
				< % = r . submit % >

			< % end % > -->
