  <% content_for :js do %>
    <%= headjs_include_tag "home/application.js", "plugins/jquery.min", "http://www.google.com/jsapi", "home/HomeConvexHull" %>
  <% end -%>

    <% flash.each do |name, msg| %>
      <div id="flash_<%=name%>" class="flash <%=name%>">
        <p><%= msg %></p>
      </div>
    <% end %>

    <section class="layout">
      <div id="map"></div>
      <div class="opaque"></div>
    </section>
    
    <section class="main">
      <div class="float">
        <header>
          <h1>GeoCAT</h1>
          <p>Geospatial Conservation Assessment Tool</p>
          <h2>Perform geospatial analysis of endangered species data in the easiest and most powerful way.</h2>
          <a class="start" href="/editor">Start a new report</a>
          <form class="upload" id="upload_form" enctype="multipart/form-data" method="post" action="/editor/">
            <p>or <a id="upload_button">import a .geocat file</a></p>
            <input type="file" name="file" size="30" id="upload_input" />
          </form>
        </header>
        <div class="info">
          <div class="block">
            <h3>Simplified process, usable tool</h3>
            <ul>
              <li class="one">
                <p>Create a report from scratch or upload your previous work.</p>
              </li>
              <li class="two">
                <p>Manage your species data sources and work directly on the map.</p>
              </li>
              <li class="three">
                <p>Download or print your report and start sharing it.</p>
              </li>
            </ul>
          </div>
          <div class="block">
            <h3>Based on real data</h3>
            <p>GeoCAT synchronizes with <a href="http://www.gbif.org" target="_blank">GBIF</a> and <a href="http://flickr.com" target="_blank">Flickr</a> for extracting real species situation.<br/><br/>It also offers the possibility of performing AOO and EOO analysis.</p>
          </div>
          <div class="block last">
            <h3>Red List Assessments compliant</h3>
            <p>Endorsed by Kew Gardens, ViBRANT and IUCN, GeoCAT usage fits perfectly in the official endangered species protection process.</p>
            <span class="logos">
              <a class="iucn" href="http://iucn.org" target="_blank">IUCN</a>
              <a class="kew" href="http://kewgardens.org" target="_blank">KEW</a>
              <a class="vibrant" href="http://vbrant.eu" target="_blank">VIBRANT</a>
              <a class="seventh" href="http://cordis.europa.eu/fp7/home_en.html" target="_blank">7th framework</a>
              <a class="eu" href="http://europa.eu/index_en.htm" target="_blank">EU</a>
            </span>
          </div>
        </div>
        <div class="video">
          <iframe src="http://player.vimeo.com/video/22739331?title=0&amp;byline=0&amp;portrait=0" width="550" height="308" frameborder="0"></iframe>
        </div>
      </div>
      
      <footer>
        <div class="inner">
          <div class="left">
            <p>All rights reserved. 2011. <a href="http://www.kew.org/about-kew/website-information/legal-notices/" target="_blank">Legal terms</a> / <a href="mailto:GISUnit@kew.org">Contact us</a></p>
          </div>
          <div class="right">
            <a href="http://www.vizzuality.com" target="_blank">Vizzuality</a>
            <p>Developed by</p>
          </div>
        </div>
      </footer>
    </section>

    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1321334-1']);
     _gaq.push(['_setDomainName', '.kew.org']);
     _gaq.push(['_trackPageview']);
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
