<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

	<a href="/download/rlas/" style="color:#FFFFFF">DOWNLOAD</a>
	

	<!-- UPLOAD EXAMPLE -->
	<!-- < % form_for Rla.new do |r| % > -->
	
	<%= form_for Rla.new, :html => {:multipart => true} do |r| %>
				<%= r.label :id, '1' %>:
				
				<%= r.file_field :data %>
				
				<%= r.submit %>

	<% end %>
	