  <% content_for :js do %>
    <%= headjs_include_tag "home/application.js", "plugins/jquery.min", "http://www.google.com/jsapi", "home/HomeConvexHull" %>
  <% end -%>

    <section class="layout small">
      <div id="map"></div>
      <div class="opaque"></div>
    </section>

    <section class="about">
    	<div class="float">
	    	<header>
	        <h1>What is GeoCAT?</h1>
	      </header>
	      <div class="left">
	        <h2 class="margin40">Geospatial analysis of species at the click of a button</h2>
	        <p>Ease the process of Red Listing with GeoCAT and help identify threatened speciesGeoCAT (Geospatial Conservation Assessment Tool) is an open source, browser based tool that performs rapid geospatial analysis to ease the process of Red Listing taxa. Developed to utilise spatially referenced primary occurrence data, the analysis focuses on two aspects of the geographic range of a taxon: the extent of occurrence (EOO) and the area of occupancy (AOO). These metrics form part of the IUCN Red List categories and criteria and have often proved challenging to obtain in an accurate, consistent and repeatable way. Within a familiar Google Maps environment, GeoCAT users can quickly and easily combine data from multiple sources such as GBIF, Flickr and Scratchpads as well as user generated occurrence data.</p>

	        <h2 class="margin40">Why create GeoCAT?</h2>
	        <p>There is a shortfall in the number of species that have been added to the Red List. Although the better known groups such as birds and mammals have been comprehensively assessed, the mega-diverse groups such as plants and insects are poorly represented on the Red List. This means that we are making conservation decisions without seeing the full picture of threat to biodiversity. Despite the best efforts of scientists around the world, progress is slow and an acceleration in the production of Red List assessments is needed.<br/><br/>
					GeoCAT fills a gap in the Red Listing process by providing a tool that deals with the geospatial aspect of Red Listing, something that has been a particular challenge. Automated and rapid calculation of geographic range measures such as extent of occurrence (EOO) and area of occupancy (AOO) expedites the Red Listing process.</p>

					<h2 class="margin40">Find out more about GeoCAT and Red Listing</h2>
	        <p>More about Red Listing at Royal Botanic Gardens, Kew <br/> <a href="http://www.kew.org/science-research-data/gis/projects/species-conservation/indcex.htm" target="_blank">http://www.kew.org/science-research-data/gis/projects/species-conservation/indcex.htm</a></p>
	        <p class="margin20">More about the IUCN Red List <br/> <a href="http://www.iucnredlist.org" target="_blank">http://www.iucnredlist.org</a></p>
	      </div>
	      <nav class="right menu">
	      	<a class="selected">What is GeoCAT?</a>
	      	<a href="/help">Help & Support</a>
	      	<a href="/about">About the project</a>
	      </nav>
	    </div>
	    <footer>
	      <div class="inner">
	        <div class="left">
	          <p>All rights reserved. 2012. <a href="http://www.kew.org/about-kew/website-information/legal-notices/" target="_blank">Legal terms</a> / <a href="mailto:GISUnit@kew.org">Contact us</a></p>
	        </div>
	        <div class="right">
	          <a href="http://www.vizzuality.com" target="_blank">Vizzuality</a>
	          <p>Developed by</p>
	        </div>
	      </div>
	    </footer>   	    
    </section>  

    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1321334-1']);
     _gaq.push(['_setDomainName', '.kew.org']);
     _gaq.push(['_trackPageview']);
     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>