<a href="#/upload-<%= name %>" class="import_file source">
  <i class="checkbox"></i>
  <%= text %>
</a>
<div class="pane upload">
  <div class="idle">
    <div class="uploader">
      <form>
        <input type="file" />
        <span class="browse">BROWSE</span>
      </form>
      <span class="label">Select a file</span>
    </div>
  </div>
  <div class="loading">
    <p>Uploading...</p>
    <a href="#/cancel" class="cancel">cancel</a>
  </div>
  <div class="success">
    <p>x ocss</p>
    <a href="#/discard" class="-js-retry">
      discard
    </a><br />
    <a href="#/import" class="import">
      import
    </a><br />
    <a href="#/import_split_species" class="import" data-split="species_name">
      import split on species
    </a><br />
    <a href="#/import_split_group" class="import" data-split="group">
      import split on group
    </a>
  </div>
  <div class="error">
    <p>There was an error :(</p>
    <a href="#/retry" class="-js-retry retry">retry</a>
  </div>
</div>
