Scientific name
<br><br><br>
<h2>Sources:</h2>
Flickr: 2 of 50 records used<br>
GBIF: 9 of 10 records used<br>
User data: 2 of 2 records used <br>
<br><br>

<h1>MAP</h1>
<br><br>

Number of collections used: 18 collections with 13 localities
<br>
EOO: 2323,232km2 - VULNERABLE (VU)
AOO: Cell width (based on EOO) 23.62 Km: AOO number of cells 9. AOO 5020 Km2 - LEAST CONCERN (LC)
Subpopulation - 7