<a href="#/close" class="close">X</a>
<div class="head">
  <h3>Add a new layer</h3>
</div>
<div class="content">
  <div class="tabpane">
    <div class="tabs">
      <ul></ul>
    </div>
    <div class="panes">
    </div>
  </div>
</div>
<div class="foot">
  <a href="#/add-layer" class="green button ok">Add layer</a>
</div>