body {background:#EAEAEB; /*background:url(../images/editor/bkg.jpg) 0 0;*/ padding:0; margin:0;}
ul{list-style:none;}

/*fonts*/
@font-face { font-family: "Futura"; src: url('../fonts/Futura.ttc'); } 

/* HOME */

div#map {position:absolute; right:0; left:0; top:0; height:390px; z-index:0;}
div.opaque {position:absolute; right:0; left:0; top:0; height:390px; width:100%; background:black; opacity:0.8; z-index:1;}

div.layout {position:relative; margin:0 auto; width:950px; z-index:100;}
div.layout.header {height:390px;}
div.layout header {float:left; padding:37px 0 130px 0; width:100%;}
div.layout header h2 {float:left; font:normal 15px Arial; color:white; padding:0; margin:0;}
div.layout section.name {float:left; padding:0; margin:0;}
div.layout section.name h1 {float:left; width:450px; font:bold 47px Arial; color:white; text-shadow:0 3px black; letter-spacing:-2px; padding:0; margin:0;}

div.white_band {position:relative; width:100%; background:#F5F5F5; border-bottom:1px solid #CCCCCC; height:61px;}
div.white_band div.inner {position:relative; margin:0 auto; width:950px; height:61px;}
div.white_band div.inner img.arrow {position:absolute; bottom:-1px; left:36px;}
div.white_band div.inner ul {padding:0; margin:0; float:left;}
div.white_band div.inner ul li {float:left; width:auto; padding:18px 28px 0 0; margin:0;}
div.white_band div.inner ul li a {float:left; font:bold 15px Arial; color:#729900; text-decoration:none;}
div.white_band div.inner ul li a:hover {color:#333333;}
div.white_band div.inner ul li.selected a {color:#333333;}

div.white_band div#main_container {position:absolute; bottom:30px; right:0; padding:30px; width:404px; height:187px; background:url(../images/home/main_bkg.png) no-repeat 0 0; z-index:100;}
div.white_band div#main_container label {float:left; padding:0 0 5px 0; width:100%; font:normal 19px "Futura"; color:#BFBFBF;}
div.white_band div#main_container form.up {float:left; margin:5px 0 0 0;}
div.white_band div#main_container form.up input[type="text"] {float:left; width:378px; -webkit-border-radius:7px; -moz-border-radius:7px; background:url(../images/home/text_input_bkg.png) repeat-x 0 0 white; height:38px; border:none; font:normal 15px Arial; color:#999999; padding:0 15px;}
div.white_band div#main_container form.up input[type="text"]:focus {outline:none;}
div.white_band div#main_container form.up p {float:right; padding:6px 0 0 0; margin:0; font:normal 13px Arial; color:#C3C3C3;}
div.white_band div#main_container form.up p a {color:#6F972F;}
div.white_band div#main_container form.up p a:hover {text-decoration:none;}
div.white_band div#main_container form.upload {position:relative; float:left; margin:50px 0 0 0; width:408px;}
div.white_band div#main_container form.upload p {float:left; font:normal 15px "Futura"; color:#858585; letter-spacing:-1px;}
div.white_band div#main_container form.upload input[type="file"]{position:absolute; top:0px; right:0px; width:133px; margin:10px 0 0 0; height:32px; border:none; opacity:0; z-index:100;}
div.white_band div#main_container form.upload input[type="file"]:hover {cursor:pointer;}
div.white_band div#main_container form.upload a {position:absolute; top:10px; right:0px; width:133px; height:32px; background:url(../images/home/upload_bkg.png) no-repeat 0 0; }
div.white_band div#main_container form.upload a:hover {background-position:0 -32px; cursor:pointer;}
div.white_band span.main_shadow {position:absolute; bottom:15px; right:-8px; width:479px; height:28px; background:url(../images/home/main_shadow.png) no-repeat center center; z-index:20;}

div.layout.blocks {height:350px; padding:25px 0 0 0;}
div.layout.blocks div.block {position:relative; float:left; width:310px; margin:0 10px 0 0; padding:0; background:url(../images/home/block_bkg.png) no-repeat 31px bottom; height:290px;}
div.layout.blocks div.block img.top {position:absolute; left:-18px; top:124px; z-index:10;}
div.layout.blocks div.block img.bottom {position:absolute; left:-18px; bottom:50px; z-index:10;}
div.layout.blocks div.block.last {margin:0; padding:0;}
div.layout.blocks div.block h3 {float:left; width:300px; font:bold 17px Arial; color:#333333;}
div.layout.blocks div.block div.image {float:left; padding:6px; background:white; border:1px solid #CCCCCC; width:288px;}
div.layout.blocks div.block div.image img {float:left;}

footer {float:left; width:100%; padding:0; margin:0; background:#729900; border-top:1px solid #608800; z-index:100; height:59px;}
footer div.inner {margin:0 auto; width:950px;}
footer div.inner div.left {float:left;}
footer div.inner div.left p {float:left; font:normal 13px Arial; color:#003500; padding:10px 5px 0 0;}
footer div.inner div.left p a {color:#003500;}
footer div.inner div.left p a:hover {text-decoration:none;}
footer div.inner div.left img {float:left; margin:12px 0 0 0;}
footer div.inner div.right {float:right;}
footer div.inner div.right p {float:left; font:normal 13px Arial; color:#37671C; padding:10px 5px 0 0;}
footer div.inner div.right img {float:left; margin:7px 0 0 0;}








/*EDITOR*/
div#editor {position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%; z-index:1;}
div#editor a#scientific_name {display:none;}

div#editor ul.editor_list {position:absolute; top:20px; right:50px; width:auto;}
div#editor ul.editor_list li {float:left;}
div#editor ul.editor_list li.first {margin:0 20px 0 0;}
div#editor ul.editor_list li a {font:normal 13px "Futura"; color:#999999; text-decoration:none;}
div#editor ul.editor_list li a:hover {font:normal 13px "Futura"; color:#dddddd;}

/*1st layer - tools*/
div#editor div#tools {position:absolute; top:60px; left:20px; bottom:40px; right:20px; min-height:720px; min-width:1240px;}

div#editor div#tools div.table {position:relative; float:left; width:100%; height:100%;}
div#editor div#tools div.table div {position:relative;}
div#editor div#tools div.table div.top-left-tool{position:relative; float:left; width:24px; height:62px; background:url(../images/editor/top-left-tool.png) no-repeat right bottom;}
div#editor div#tools div.table div.top-repeat-tool{position:absolute; left:24px; right:24px; top:0; height:62px; background:url(../images/editor/top-repeat-tool.png)  0 bottom;}
div#editor div#tools div.table div.top-right-tool {position:relative; float:right; width:24px; height:62px; background:url(../images/editor/top-right-tool.png) no-repeat left bottom;}
div#editor div#tools div.header div.left {float:left; padding:22px 0 0 5px; width:49px; color:white; height:45px;}
div#editor div#tools div.header div.left h2 {float:left; padding:0; text-transform:uppercase; font:normal 11px "Futura"; text-shadow:0 1px #000000; color:#CCCCCC;}
div#editor div#tools div.header div.right {float:right; padding:22px 0 0 0; width:220px; color:white; height:45px;}
div#editor div#tools div.header div.right h2 {float:left; padding:0; text-transform:uppercase; font:normal 11px "Futura"; color:#CCCCCC; text-shadow:0 1px #000000}

div#editor div#tools div.table div.center {position:absolute; top:62px; bottom:76px; left:0; right:0;}
div#editor div#tools div.table div.left-repeat-tool {position:absolute; top:0; left:0; bottom:0; width:24px; background:url(../images/editor/left-repeat-tool.png) repeat-y right 0;}
div#editor div#tools div.table div.center-tool{position:absolute; top:0; bottom:0; left:24px; right:24px; background:#242628;}
div#editor div#tools div.table div.right-repeat-tool{position:absolute; top:0; right:0; bottom:0; width:24px; background:url(../images/editor/right-repeat-tool.png) repeat-y left 0;}
div#editor div#tools div.center div.left {float:left; padding:4px 0 0 0; width:52px;}
div#editor div#tools div.center div.left a {float:left; width:42px; height:42px; margin:5px 0 0 0;}
div#editor div#tools div.center div.left a.select {background:url(../images/editor/select_button.png) no-repeat 0 0;}
div#editor div#tools div.center div.left a.add {background:url(../images/editor/add_button.png) no-repeat 0 0;}
div#editor div#tools div.center div.left a.remove {background:url(../images/editor/remove_button.png) no-repeat 0 0;}
div#editor div#tools div.center div.left a.selected {background-position:0 -42px;}
div#editor div#tools div.center div.left a:hover {background-position:0 -42px;}
div#editor div#tools div.center div.right {position:absolute; right:-10px; top:0; bottom:0; width:260px; z-index:1;}
div#editor div#tools div.center div.right div.algorithms {position:relative; float:left; padding:0 0 14px 30px; width:230px; border-bottom:1px solid #000000;}
div#editor div#tools div.center div.right div.algorithms h3 {padding:0 0 0 12px; font:normal 11px "Futura"; color:#CCCCCC; text-shadow:0 1px #000000;}
div#editor div#tools div.center div.right div.algorithms a {float:left; padding:5px 8px; font:normal 13px Arial; color:#FFFFFF; text-shadow:0 1px #A9772E; width:205px; height:14px; background:url(../images/editor/orange_bar.png) no-repeat 0 0; margin:5px 0 0 0; text-decoration:none;}
div#editor div#tools div.center div.right div.algorithms a.first {margin:0;}
div#editor div#tools div.center div.right div.algorithms a:hover {background-position:0 -24px;}

div.hull_container {display:none; position:absolute; top:0; right:38px; z-index:100000; background:url(../images/editor/convex_hull_bkg.png) no-repeat 0 0; width:280px; height:330px;}
div.hull_container a {position:absolute; right:15px; top:8px; font:normal 11px Arial; color:#FF9900; text-decoration:underline;}
div.hull_container a:hover {color:#FF6600;}
div.hull_container p {font:normal 23px Georgia; color:#666666;}
div.hull_container p sup {font:normal 13px Georgia; color:#666666;}
div.hull_container p small {font:normal 11px Arial; color:#666666;}
div.hull_container p small sup {font:normal 11px Arial; color:#666666;}

div.hull_container p.area {position:absolute; top:22px; left:31px;}
div.hull_container p.diameter {position:absolute; top:72px; left:31px;}
div.hull_container p.cell_size {position:absolute; top:119px; left:31px;}
div.hull_container p.number_cells {position:absolute; top:119px; left:154px;}
div.hull_container p.aoo_area {position:absolute; top:165px; left:31px;}

div#editor div#tools div.center div.right div.sources {position:relative; float:left; padding:0 0 14px 30px; width:230px; border-top:1px solid #454648;}
div#editor div#tools div.center div.right div.sources span {float:left; width:100%;}
div#editor div#tools div.center div.right div.sources span h3 {float:left; padding:0 0 0 12px; font:normal 11px "Futura"; color:#CCCCCC; text-shadow:0 1px #000000;}
div#editor div#tools div.center div.right div.sources span p {float:right; font:normal 11px "Futura"; color:#7C7D7E; padding:0 17px 0 0;}
div#editor div#tools div.center div.right div.sources a {float:left; padding:3px 0 3px 22px; text-decoration:none;}
div#editor div#tools div.center div.right div.sources a.blue {background:url(../images/editor/left_black_bar_blue.png) no-repeat 0 3px;}
div#editor div#tools div.center div.right div.sources a.green {background:url(../images/editor/left_black_bar_green.png) no-repeat 0 3px;}
div#editor div#tools div.center div.right div.sources a.pink {background:url(../images/editor/left_black_bar_pink.png) no-repeat 0 3px;}
div#editor div#tools div.center div.right div.sources a span {float:left; padding:5px 6px 3px 0; width:191px; background:url(../images/editor/right_black_bar.png) no-repeat right 0; height:16px; font:normal 13px Arial; color:#999999;}
div#editor div#tools div.center div.right div.sources a:hover span {background-position:right 0;}
div#editor div#tools div.center div.right div.sources a.add {float:left; padding:4px 0 4px 12px; width:209px; font:normal 13px Arial; color:#73982D; background:url(../images/editor/black_bar_add.png) no-repeat 0 0; text-decoration:underline;}
div#editor div#tools div.center div.right div.sources a.add:hover {background-position:0 -24px;}
div#editor div#tools div.center div.right div.sources a.add.open {color:#cccccc; background-position:0 -48px; text-decoration:none;}
div#editor div#tools div.center div.right div.sources a.add.open:hover {background-position:0 -48px;}
div#editor div#tools div.center div.right div.sources ul {float:left; width:218px; padding:0; margin:0;}
div#editor div#tools div.center div.right div.sources ul li {float:left; width:100%;}


/*add new source*/
div#editor div#tools div.center div.right div.sources div#add_source_container {position:absolute; width:209px; bottom:22px; right:15px; z-index:100; display:none;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.top {float:left; width:209px; padding:51px 0 0 0; background:url(../images/editor/add_source_top.png) no-repeat 0 top;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.top a#close_sources {position:absolute; right:23px; top:23px; background:url(../images/editor/close_source.png) no-repeat 0 0; width:16px; height:16px; padding:0; margin:0;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.top a#close_sources:hover {background-position:0 -16px;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.bottom {float:left; width:209px; padding:0 0 25px; background:url(../images/editor/add_source_bottom.png) no-repeat 0 bottom;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle {float:left; width:185px; padding:0 12px; background:url(../images/editor/add_source_repeat.png) repeat-y 0 0;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul {float:left; width:171px; padding:8px 7px; margin:0; background-image: -moz-linear-gradient(100% 100% 90deg, #F3F3F3, #D4D4D4); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), to(#D4D4D4));}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li {float:left; width:157px; padding:4px 7px;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li a {float:left; margin:2px 0 0 0; padding:0 0 0 17px; background:url(../images/editor/checkbox_add_image.png) no-repeat 0 1px; font:normal 13px Arial; color:#898989;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li a:hover {cursor:pointer; color:#666666;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li span {display:none;}

/*selected*/
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected {border:1px solid #BFC7B0; -moz-border-radius:6px; -webkit-border-radius:6px; background:#CCE896; width:155px;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected a {float:left; margin:3px 0 0 0; padding:0 0 0 17px; background:url(../images/editor/checkbox_add_image.png) no-repeat 0 -15px; font:normal 13px Arial; color:#666666;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected a:hover {cursor:pointer; color:#666666;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span {display:block;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span p {float:left; margin:10px 0 0 9px; width:103px; background:url(../images/editor/loader_source.gif) no-repeat 7px 7px #EBF7D6; -moz-border-radius:6px; -webkit-border-radius:6px; padding:8px 10px 8px 29px; font:normal 13px Arial; color:#999999;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span p.loaded {background:url(../images/editor/ok_loaded.png) no-repeat 9px 9px #EBF7D6; color:#666666;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span p.imported {background:url(../images/editor/ok_loaded.png) no-repeat 9px 22px #A9C07C; color:white;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span a {float:right; background:none; padding:7px 5px 3px 0; text-decoration:underline; color:#9DB177;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span a:hover {cursor:default; color:#9DB177;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span a.enabled {float:right; background:none; padding:7px 5px 3px 0; text-decoration:underline; color:#333333;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span a.enabled:hover {cursor:pointer;}

div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div {float:left; margin:10px 0 0 9px; width:137px; -moz-border-radius:6px; -webkit-border-radius:6px; padding:2px; font:normal 13px Arial; color:#999999; background:#EBF7D6;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div a.browse {float:left; width:63px; height:21px; background:url(../images/editor/browse.png) no-repeat 0 0; padding:0; margin:0; display:block;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div p {background:none; -moz-border-radius:0px; -webkit-border-radius:0px; padding:5px 6px 0 0; margin:0; width:auto; float:right; font:normal 11px Arial; color:#999999;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div a.delete {display:none; position:absolute; right:2px; top:2px; background:url(../images/editor/delete_button.png) no-repeat 0 0; width:16px; height:16px; padding:0; margin:0;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div form {display:block; position:absolute; padding:0; margin:0; width:137px; height:21px; z-index:100; overflow:hidden; opacity:0;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div form input {float:left; width:137px; height:21px;}


div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div.selected a {display:none;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div.selected a.delete {display:block;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div.selected a.delete:hover {background-position:0 -17px; cursor:pointer;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div.selected p {float:left; font:normal 13px Arial; color:#666666; padding:1px 0 0 6px;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.selected span div.selected form {display:none;}


/*added*/
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added a {background-position: 0 -30px; color:#c3c3c3;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added a:hover {cursor:default; color:#c3c3c3;}
div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added span {display:none;}


div#editor div#tools div.table div.footer {position:absolute; bottom:0; left:0; right:0; height:76px;}
div#editor div#tools div.table div.bottom-left-tool{position:relative; float:left; width:24px; height:76px; background:url(../images/editor/bottom-left-tool.png) no-repeat right top;}
div#editor div#tools div.table div.bottom-repeat-tool{position:absolute; bottom:0; left:24px; right:24px; background:url(../images/editor/bottom-repeat-tool.png) repeat left 0; height:76px;}
div#editor div#tools div.table div.bottom-right-tool{position:relative; float:right; width:24px; height:76px; background:url(../images/editor/bottom-right-tool.png) no-repeat left top;}


/*2nd layer - map*/
div#editor div#map_container {position:absolute; min-width:940px; min-height:790px; top:10px; bottom:20px; left:83px; right:260px; z-index:100;}

div#editor div#map_container div.table {position:relative; float:left; width:100%; height:100%;}
div#editor div#map_container div.table div {position:relative;}
div#editor div#map_container div.table div.top-left-map{position:relative; float:left; width:25px; height:80px; background:url(../images/editor/top-left-map.png) no-repeat right bottom;}
div#editor div#map_container div.table div.top-repeat-map{position:absolute; left:25px; right:25px; top:0; height:80px; background:url(../images/editor/top-repeat-map.png)  0 bottom;}
div#editor div#map_container div.table div.top-right-map{position:relative; float:right; width:25px; height:80px; background:url(../images/editor/top-right-map.png) no-repeat left bottom;}

div#editor div#map_container div.table div.center {position:absolute; top:80px; bottom:80px; left:0; right:0;}
div#editor div#map_container div.table div.left-repeat-map{position:absolute; top:0; bottom:0; left:0; width:25px; background:url(../images/editor/left-repeat-map.png) repeat-y -6px 0;}
div#editor div#map_container div.table div.center-map{position:absolute; top:0; left:15px; right:15px; bottom:0; background:#242627;}
div#editor div#map_container div.table div.right-repeat-map{position:absolute; top:0; bottom:0; right:0; width:25px; background:url(../images/editor/right-repeat-map.png) repeat-y 10px 0;}

div#editor div#map_container div.table div.footer {position:absolute; bottom:0; left:0; right:0; height:80px;}
div#editor div#map_container div.table div.bottom-left-map{position:relative; float:left; width:25px; height:80px; background:url(../images/editor/bottom-left-map.png) no-repeat right top; margin:0;}
div#editor div#map_container div.table div.bottom-repeat-map{position:absolute; background:url(../images/editor/bottom-repeat-map.png) repeat left 0; left:25px; right:25px; top:0; height:80px;}
div#editor div#map_container div.table div.bottom-right-map{position:relative; float:right; width:25px; height:80px; background:url(../images/editor/bottom-right-map.png) no-repeat left top;}

div#editor div#map_container div.table div.center-map div#map {position:relative; height:100%; width:100%;}
div#editor div#map_container div.table div.center-map div#mamufas_map {position:absolute; display:none; top:0; bottom:0; left:0; right:0; z-index:110; background:url(../images/editor/mamufas_bkg.png) repeat 0 0;}
div#editor div#map_container div.table div.center-map div#mamufas_map div#loader_map {position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px;/*hack*/ display:none; width:50px; height:50px; -moz-border-radius:6px; -webkit-border-radius:6px; background:#333333;}
div#editor div#map_container div.table div.center-map div#mamufas_map div#loader_map img {position:relative; margin:9px 9px;}
div#editor div#map_container div.table div.center-map div#mamufas_map div#import_success {position:absolute; display:none; top:50%; left:50%; margin:-29px 0 0 -101px;/*hack*/ width:202px; height:58px;}


div#editor div#map_container div.header h1 {float:left; margin:39px 0 0 16px; padding:0 0 0 20px; background:url(../images/editor/orange_star.png) no-repeat 0 2px; font:normal 13px "Futura"; color:#CCCCCC;}
div#editor div.header h1 sup {padding:0 0 0 5px; font:normal 10px "Futura"; color:#FF9800;}

div#editor div#map_container div.footer div.left {float:left; margin:15px 0 0 5px;}
div#editor div#map_container div.footer div.left a.undo {float:left; width:42px; height:32px; background:url(../images/editor/undo_button.png) no-repeat 0 0; margin:0 5px 0 0;}
div#editor div#map_container div.footer div.left a.redo {float:left; width:42px; height:32px; background:url(../images/editor/redo_button.png) no-repeat 0 0;}
div#editor div#map_container div.footer div.left a:hover {background-position:0 -32px;}

div#editor div#map_container div.footer div.right {float:right; margin:15px 5px 0 0;}
div#editor div#map_container div.footer div.right a.download {float:left; width:118px; height:32px; background:url(../images/editor/download_button.png) no-repeat 0 0;}
div#editor div#map_container div.footer div.right a.print {float:left; width:84px; margin:0 5px 0 0; height:32px; background:url(../images/editor/print_button.png) no-repeat 0 0;}
div#editor div#map_container div.footer div.right a.save {float:left; width:84px; margin:0 5px 0 0; height:32px; background:url(../images/editor/save_button.png) no-repeat 0 0;}
div#editor div#map_container div.footer div.right a:hover {background-position:0 -32px;}
