<label>APPEND YOUR CARTODB URL</label>
<form>
  <input type="text" class="text" value="" placeholder="Insert your CartoDB url"/>
</form>
<p>*Insert the viz json url provided in the share dialog. Only one CartoDB layer is permitted.</p>
<div class="error">
  <p>The url provided doesn't contain a valid CartoDB url</p>
</div>