<label>APPEND YOUR FUSION TABLE URL</label>
<form>
  <input type="text" class="text" value="" placeholder="Insert your Fusion Table url"/>
</form>
<p>*Create a Fusion Tables map, click over 'Tools' > 'Publish' and insert the url provided.</p>
<div class="error">
  <p>The url provided doesn't contain a valid XYZ parameters</p>
</div>