<label>APPEND YOUR KML URL</label>
<form>
  <input type="text" class="text" value="" placeholder="Insert your KML url"/>
</form>
<p>*Take into account that your layer will have interactivity.</p>
<div class="error">
  <p>The url provided doesn't contain a valid XYZ parameters</p>
</div>