<label>APPEND YOUR WMS URL</label>
<form>
  <input type="text" class="text" value="" placeholder="Insert your WMS url"/>
</form>
<p>It will load the XML and let you to choose between the layers available.</p>