<label>APPEND YOUR WMS URL</label>
<div class="idle">
  <form>
    <input type="text" class="text" value="" placeholder="Insert your WMS url"/>
  </form>
  <p>*It will load the XML and let you to choose between the layers available.</p>
</div>
<div class="loading">

</div>
<div class="success">
  <ul class="wms_layers"></ul>
</div>
<div class="error">
  <p>Jar!!!</p>
</div>