<div class="input">
  <label>APPEND YOUR WMS URL</label>
  <form>
    <input type="text" class="text" value="" placeholder="Insert your WMS url"/>
  </form>
  <p>*It will load the service and let you to choose between the supported layers.</p>
</div>
<div class="list">
  <ul class="wms_layers"></ul>
</div>
<div class="error">
  <p>There was an error with your WMS url</p>
</div>