<div class="msg">
  <h5 class="<%= !enabled ? 'disabled' : '' %>"><%= name %></h5>
  <% if (!enabled) { %>
    <p>It doesn't contain supported projections (3857, 900913)</p>
  <% } %>
</div>
<a class="<%= !enabled ? 'disabled' : '' %>" href="#/add-this">Add this</a>