<label>APPEND YOUR XYZ URL</label>
<form>
  <input type="text" class="text" value="" placeholder="Insert your XYZ url"/>
</form>
<p>*It must have XYZ parameters between curly brackets ( {x},{y} and {z} ).</p>
<div class="error">
  <p>The url provided doesn't contain a valid XYZ parameters</p>
</div>