
  /**
   *  Add new source styles
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/opacity";


  // Add new sources container

  #add_source_container {
    position:absolute!important;
    bottom:47px;
    right:-36px;
    width:209px;
    z-index:100;
    display:none;

    div.top {
      float:left;
      width:209px;
      padding:51px 0 0 0;
      background:image-url('editor/add_source_top.png') no-repeat 0 top;

      a.close {
        position:absolute;
        right:23px;
        top:23px;
        width:16px;
        height:16px;
        padding:0;
        margin:0;
        background:image-url('editor/close_source.png') no-repeat 0 0;
        
        &:hover {
          background-position:0 -16px;
          cursor:pointer;
        }
      }
    }

    div.bottom {
      float:left;
      width:209px;
      padding:0 0 25px;
      background:image-url('editor/add_source_bottom.png') no-repeat 0 bottom;
    }

    div.middle {
      float:left;
      width:185px;
      padding:0 12px;
      background:image-url('editor/add_source_repeat.png') repeat-y 0 0;
    }
  }



  // Add new sources list

  #add_source_container {
    ul {
      float:left;
      width:171px;
      padding:8px 7px;
      margin:0;
      background:-webkit-gradient(linear,50% 0%,50% 100%,from(#F3F3F3),to(#D4D4D4));
      background:-moz-linear-gradient(-90deg,#F3F3F3,#D4D4D4);
      background:-o-linear-gradient(#F3F3F3,#D4D4D4);
      filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F3F3F3', endColorstr='#D4D4D4');
    }

    li {
      position:relative;
      float:left;
      width:157px;
      padding:4px 7px;

      a {
        float:left;
        margin:2px 0 0 0;
        padding:0 0 0 17px;
        font:normal 13px Arial;
        line-height:16px;
        color:#898989;
        text-decoration:none;

        i.checkbox {
          position:absolute;
          @include inline-block();
          vertical-align:top!important;
          top:5px;
          left:4px;
          width:14px;
          height:14px;
          background:image-url('editor/checkbox_add_image.png') no-repeat 0 1px;
        }

        &:hover {
          color:#666;
          text-decoration: underline;
        }
      }

      div.pane { display:none }

      form {
        position:relative;
        float:left;
        display:block;
      }


      // Selected
      &.selected {
        width:155px;
        border:1px solid #BFC7B0;
        @include border-radius(6px);
        background:#CCE896;

        a {
          color:#666;

          i.checkbox {
            background-position: 0 -15px;
          }

          &:hover {
            cursor:default;
          }
        }

        div.pane { display:block }
      }
    }
  }


  // Add source item states
  #add_source_container li div.pane {

    & > div {
      display:none;
      float:left;
      width:142px;
      margin:10px 0 0 9px;

      p {
        padding:8px 10px 8px 29px;
        @include border-radius(6px);
        display:block;
        font:normal 13px Arial;
      }

      a {
        float:right;
        padding:7px 0 3px;
        margin:0;
        text-decoration:underline;
        @include opacity(0.7);
        
        &:hover {
          text-decoration:underline;
          cursor:pointer;
          @include opacity(1);
        }
      }
    }

    div.idle {
      display:block;
      
      input.specie {
        width:123px;
        padding:8px;
        margin:0;
        font:italic 11px Arial;
        color:#999999;
        line-height:11px;
        border:1px solid #999999;
        @include border-radius(5px);
      
        &:focus {outline:none;}
      }

      input.search {
        float:right;
        padding:7px 0 3px;
        margin:0;
        background:none;
        outline:none;
        border:none;
        font:normal 13px Arial;
        color:#666;
        @include opacity(0.7);
        text-decoration:underline;
        
        &:hover {
          cursor:pointer;
          @include opacity(1);
        }
      }
    }

    div.loading {
      p {
        background:image-url('editor/loader_source.gif') no-repeat 7px 7px #EBF7D6;
        color:#999999
      }

      a { float:left }
    }

    div.error {
      p {
        background:image-url('editor/error_searching.png') no-repeat 9px 11px #f57070; 
        color:white;
      }

      a { float:left }
    }

    div.success {
      p {
        background:image-url('editor/ok_loaded.png') no-repeat 9px 10px #A9C07C;
        color:white;
      }
      a.retry { float:left }
    }
  }



  // Upload input

  .upload div.uploader {
    float:left;
    width:137px;
    height:22px;
    margin:0 0 5px;
    padding:2px;
    background:#EBF7D6;
    @include border-radius(6px);
    overflow:hidden;

    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      border: solid transparent;
      border-width: 0 0 100px 200px;
      opacity: 0;
      filter: alpha(opacity=0);
      -moz-transform: translate(-300px, 0) scale(4);
      direction: ltr;
      cursor: pointer;
    }

    span.browse {
      float:left;
      display:block;
      width:63px;
      height:21px;
      padding:0;
      margin:0;
      background:image-url('editor/browse.png') no-repeat 0 0;
      text-indent:-9999px;
    }

    span.label {
      position:absolute;
      right:11px;
      top:6px;
      line-height:15px;
      font:normal 11px Arial;
      color:#999999;
    }

    form:hover span.browse {
      cursor:pointer;
      background-position:0 -21px;
    }
  }

  
  /*added*/
  div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added a {background-position: 0 -30px; color:#c3c3c3;}
  div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added a:hover {cursor:default; color:#c3c3c3;}
  div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added span {display:none;}
  
  div#editor div#tools div.table div.bottom-repeat-tool a.add_source {float:right; width:92px; height:11px; padding:12px 0 12px 10px; background:image-url('editor/add_source.png') no-repeat 0 0; font:normal 11px Arial; color:#CCCCCC; line-height:11px; text-shadow:0 1px black; margin:14px 0 0 4px;}
  div#editor div#tools div.table div.bottom-repeat-tool a.add_source:hover {background-position:0 -35px;}
  