
  /**
   *  Add new source styles
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/opacity";


  // Add new sources container

  #add_source_container {
    position:absolute!important;
    bottom:47px;
    right:-36px;
    width:209px;
    z-index:100;
    display:none;

    div.top {
      float:left;
      width:209px;
      padding:51px 0 0 0;
      background:url('/assets/editor/add_source_top.png') no-repeat 0 top;

      a.close {
        position:absolute;
        right:23px;
        top:23px;
        width:16px;
        height:16px;
        padding:0;
        margin:0;
        background:url('/assets/editor/close_source.png') no-repeat 0 0; 
        
        &:hover {
          background-position:0 -16px;
          cursor:pointer;
        }
      }
    }

    div.bottom {
      float:left;
      width:209px;
      padding:0 0 25px;
      background:url('/assets/editor/add_source_bottom.png') no-repeat 0 bottom;
    }

    div.middle {
      float:left;
      width:185px;
      padding:0 12px;
      background:url('/assets/editor/add_source_repeat.png') repeat-y 0 0;
    }
  }



  // Add new sources list

  #add_source_container {
    ul {
      float:left;
      width:171px;
      padding:8px 7px;
      margin:0;
      background:-webkit-gradient(linear,50% 0%,50% 100%,from(#F3F3F3),to(#D4D4D4));
      background:-moz-linear-gradient(-90deg,#F3F3F3,#D4D4D4);
      background:-o-linear-gradient(#F3F3F3,#D4D4D4);
      filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F3F3F3', endColorstr='#D4D4D4');
    }

    li {
      position:relative;
      float:left;
      width:157px;
      padding:4px 7px;

      a {
        float:left;
        margin:2px 0 0 0;
        padding:0 0 0 17px;
        font:normal 13px Arial;
        line-height:16px;
        color:#898989;
        text-decoration:none;

        i.checkbox {
          position:absolute;
          @include inline-block();
          vertical-align:top!important;
          top:5px;
          left:4px;
          width:14px;
          height:14px;
          background:url('/assets/editor/checkbox_add_image.png') no-repeat 0 1px;
        }

        &:hover {
          color:#666;
          text-decoration: underline;
        }
      }

      div.pane { display:none }

      form {
        position:relative;
        float:left;
        display:block;
      }


      // Selected
      &.selected {
        width:155px;
        border:1px solid #BFC7B0;
        @include border-radius(6px);
        background:#CCE896;

        a {
          color:#666;

          i.checkbox {
            background-position: 0 -15px;
          }

          &:hover {
            cursor:default;
          }
        }

        div.pane { display:block }
      }
    }
  }


  // Add source item states
  #add_source_container li div.pane {

    & > div {
      display:none;
      float:left;
      width:142px;
      margin:10px 0 0 9px;

      p {
        padding:8px 10px 8px 29px;
        @include border-radius(6px);
        display:block;
        font:normal 13px Arial;
      }

      a {
        float:right;
        padding:7px 0 3px;
        margin:0;
        text-decoration:underline;
        @include opacity(0.7);
        
        &:hover {
          text-decoration:underline;
          cursor:pointer;
          @include opacity(1);
        }
      }
    }

    div.idle {
      display:block;
      
      input.specie {
        width:123px;
        padding:8px;
        margin:0;
        font:italic 11px Arial;
        color:#999999;
        line-height:11px;
        border:1px solid #999999;
        @include border-radius(5px);
      
        &:focus {outline:none;}
      }

      input.search {
        float:right;
        padding:7px 0 3px;
        margin:0;
        background:none;
        outline:none;
        border:none;
        font:normal 13px Arial;
        color:#666;
        @include opacity(0.7);
        text-decoration:underline;
        
        &:hover {
          cursor:pointer;
          @include opacity(1);
        }
      }
    }

    div.loading {
      p {
        background:url('/assets/editor/loader_source.gif') no-repeat 7px 7px #EBF7D6;
        color:#999999
      }

      a { float:left }
    }

    div.error {
      p {
        background:url('/assets/editor/error_searching.png') no-repeat 9px 11px #f57070; 
        color:white;
      }

      a { float:left }
    }

    div.success {
      p {
        background:url('/assets/editor/ok_loaded.png') no-repeat 9px 10px #A9C07C;
        color:white;
      }
      a.retry { float:left }
    }
  }



  /*jquery uploader*/
  .uploader .qq-uploader {position:relative; width:100%; padding:0; margin:0; background:none;}
  .uploader .qq-upload-button {float:left; width:63px; height:21px; background:url('/assets/editor/browse.png') no-repeat 0 0; padding:0; margin:0; display:block; text-indent:-9999px;}
  .uploader .qq-upload-button-hover {background-position:0 -21px;}
  .uploader .qq-upload-button-focus {outline:none;}
  .uploader .qq-upload-drop-area {position:absolute; top:0; left:0; width:100%; height:100%; min-height:70px; z-index:2; background:#FF9797; text-align:center; }
  .uploader .qq-upload-drop-area span {display:block; position:absolute; top:50%; width:100%; margin:-8px 0 0 0; font-size:16px;}
  .uploader .qq-upload-drop-area-active {background:#FF7171;}
  .uploader .qq-upload-list {float:right; padding:5px 6px 5px 6px!important; margin:0!important; width:auto!important; background:none!important; -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0; font:normal 11px Arial; color:#999999;}
  .uploader .qq-upload-list li {float:left; width:auto!important; margin:0!important; padding:0!important; line-height:15px; font:normal 11px Arial; color:#999999;}
  .uploader .qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {}
  .uploader span.qq-upload-file {display:inline-block!important; width:100px!important; text-overflow:ellipsis!important;  overflow:hidden!important; white-space:nowrap!important;}
  .uploader .qq-upload-size,.qq-upload-cancel {display:none!important;}
  .uploader .qq-upload-failed-text {display:none!important;}
  .uploader .qq-upload-fail .qq-upload-failed-text {display:none!important;}
  /*end jquery uploader*/

  
  /*added*/
  div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added a {background-position: 0 -30px; color:#c3c3c3;}
  div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added a:hover {cursor:default; color:#c3c3c3;}
  div#editor div#tools div.center div.right div.sources div#add_source_container div.middle ul li.added span {display:none;}
  
  div#editor div#tools div.table div.bottom-repeat-tool a.add_source {float:right; width:92px; height:11px; padding:12px 0 12px 10px; background:url('/assets/editor/add_source.png') no-repeat 0 0; font:normal 11px Arial; color:#CCCCCC; line-height:11px; text-shadow:0 1px black; margin:14px 0 0 4px;}
  div#editor div#tools div.table div.bottom-repeat-tool a.add_source:hover {background-position:0 -35px;}
  