
  /**
   *  Sources styles
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/images";
  @import "compass/css3/transform";
  @import "compass/css3/transition";
  @import "compass/css3/opacity";
  @import "../common/mixins";
  @import "../common/buttons";
  

  .sources {
    position:absolute!important;
    top:85px;
    bottom:0;
    width:230px;
    padding:12px 0 14px 30px;
    margin:0;
    border-top:1px solid #454648;
    overflow:hidden;

    h3 {
      float:left;
      padding:0;
      font:normal 11px "Futura","FuturaStdMedium";
      color:#CCCCCC;
      text-shadow:0 1px #000000;
    }

    .sources_mamufas {
      position:absolute!important;
      top:37px; right:0; left:0; bottom:0;
      background:#242628;
      @include opacity(0.6);
      z-index:5;
    }

    // Groups
    .group_combo {
      position:relative;
      &.disable {
        pointer-events: none;
        opacity: 0.7;
      }
      .select2-choice { border:none }

      // Custom container!
      select,
      .select2-container {
        width:220px;
        font-family:Arial;

        .select2-chosen {
          color:#777;
          font-size:13px;
        }
      }
    }

    ul.groups {
      display:inline;
      width:100%;
      height:100%;
      overflow-x:none;
      white-space:nowrap;

      li.group {
        position:relative;
        @include inline-block();
        height:100%;
        width:230px;
      }
    }

    // Sources
    ul.sources_list {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      width:230px;
      padding:20px 0 0;
      overflow-y: auto;
      overflow-x: hidden;

      & > li {
        position:relative;
        width:193px;
        height:46px;
        padding:7px 9px 5px 9px;
        margin:3px 0 3px 0;
        background:url('/assets/editor/li_bkg.png') no-repeat 0 0;
        @include border-radius(3px);

        // Elements //
        div.info,
        div.actions {
          position:absolute;
          @include inline-block();
        }
        div.info { float:left; width:147px }
        div.actions { float:right; width:40px; }

        form {
          display:block;
          margin:0;
          padding:0;
        }

        span.controls {
          position:absolute;
          top:17px;
          right:0;
        }

        // Name
        input.text {
          display:block;
          width:130px;
          margin:0 0 0 4px;
          padding:2px;
          font:bold 13px Arial;
          color:#666;
          @include border-radius(3px);
          border:1px solid black;
          background:white;
          outline:none;
          @include text-overflow();

          &:hover { cursor:default }

          &[readonly] {
            background:none;
            border:1px solid transparent;
            color:#999;
            text-shadow:0 1px black;
            &:hover { cursor:pointer }
          }
        }

        // Total
        p {
          display:block;
          width: 100%;
          margin:4px 0 0;
          padding:0 0 0 8px;
          font:normal 11px Arial;
          color:#CCC;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          em {
            font-style:normal;
            &.gbif,
            &.dwc,
            &.csv { text-transform:uppercase }
            &.flickr, &.picasa { text-transform:capitalize }
          }
        }

        // Actions buttons
        a.visible_specie {
          @include inline-block();
          width:40px;
          height:14px;
          margin:4px 0 0;
          @include text-indent();
          background:url('/assets/editor/specie_visible.png') no-repeat -20px 0;
          @include transform-style("linear");
          @include transition-property("background-position");
          @include transition-duration(200ms);

          &.on {
            background-position:0 0;
          }
        }

        a.delete_specie {
          display:none;
          width:12px;
          height:13px;
          margin:8px 0 0;
          @include text-indent();
          background:url('/assets/editor/delete_specie.png') no-repeat 0 0;

          &:hover { background-position:0 -13px }
        }

        a.merge_specie {
          display:none;
          width:12px;
          height:13px;
          margin:8px 0 0 12px;
          background:url('/assets/editor/merge_specie.png') no-repeat 0 0;
          @include text-indent();
          
          &.update {
            background-position:0 -13px;
          }
        }

        // Type bands
        span.band {
          position:absolute;
          top:7px; left:6px;
          width:2px;
          height:46px;
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0099FF', endColorstr='#0062A3');
          @include background(linear-gradient(#0099FF,#0062A3));

          &.gbif {
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#40AB21', endColorstr='#45A82A');
            @include background(linear-gradient(#40AB21,#45A82A))
          }
          &.flickr {
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF3399', endColorstr='#9F2062');
            @include background(linear-gradient(#FF3399,#9F2062)) 
          }
          &.picasa {
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8B6AA2', endColorstr='#674D77');
            @include background(linear-gradient(#8B6AA2,#674D77)) 
          }
          &.inaturalist {
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A8CC09', endColorstr='#A8CC09');
            @include background(linear-gradient(#A8CC09,#A8CC09)) 
          }
        }

        // Li styles when hover
        &:hover {
          cursor:move;
          input[readonly] { color:white!important }
          a.merge_specie,
          a.delete_specie { @include inline-block() }
        }
      }
    }

    .add_source a {
      position:relative;
      @include inline-block();
      width:211px;
      height:62px;
      margin:0;
      background:url('/assets/editor/add_new_source.png') no-repeat 0 0;
      border:none;
      font:bold 13px Arial;
      color:#0B0C0D;
      text-shadow:0 1px #2D2F30;
      text-align:center;
      text-decoration:none;
      line-height:62px;
      
      &:hover {
        cursor:pointer;
        color:#000000;
        text-decoration:underline;
      }
    }
  }


  // Delete source warning
  .delete_source {
    position:absolute!important;
    display:none;
    top:-10px;
    right:10px;
    width:152px;
    height:147px;
    padding:13px 40px 15px 25px;
    margin:0;
    background:url('/assets/editor/merge_delete_container.png') no-repeat 0 0;
    z-index:10;

    h4 {
      float:left;
      margin:13px 0 0 0;
      font:normal 11px "Futura","FuturaStdMedium";
      color:#666666;
      text-shadow:#FFFFFF 0px 1px;
      text-transform:uppercase;
    }

    p {
      float:left;
      padding:0;
      margin:23px 0 0 0;
      font:bold 13px Arial;
      color:#666666;
      line-height:17px;
      white-space: normal;
    }

    div.actions {
      float:right;
      width:100px;
      margin:0 0 0 0;

      a.cancel {
        float:right;
        font:normal 11px Arial;
        text-decoration:underline;
        color:#333333;
        margin:13px 10px 0 0;
        padding:3px 0 0 0;

        &:hover { color:#000000; cursor:pointer }
      }

      a.yes {
        float:right;
        @include green-button();
        width:51px;
        margin-top:10px;
        padding-left:0;
        padding-right:0;
        text-align:center;
        font-size:11px;
      }
    }

    span.arrow {
      position:absolute;
      right:11px;
      top:52px;
      width:0;
      height:0;
      border-top:12px solid transparent;
      border-bottom:12px solid transparent;
      border-left:12px solid #E8E8E8;
    }
  }


  // Groups selector dropdown
  .groups_dropdown {
    border:none!important;
    @include box-shadow(none);
    font-family:Arial;

    .select2-result {
      padding:3px 0 1px;
      
      .select2-result-label {
        padding:3px 2px 3px;
      }

      i {
        color:#787878;
        &:hover {color:#333}

        // Types
        &.visible { margin-right:4px; }
        &.edit { margin:0 4px }
        &.delete { &:hover { color:red } }

        // States
        &.disabled {
          color:#DDD;
          &:hover { color:#DDD }
        }
        &.selected {
          color:#3875d7;
          &:hover { color:#3875d7 }
        }
      }

      form { @include inline-block(); width:143px }
      

      input {
        width:143px;
        padding:0 0 2px 0;
        background:none;
        border:none;
        outline:none;
        border-bottom:1px dotted #999;
        font:normal 13px Arial;
        color:#666;

        &[readonly] {
          border-bottom:1px dotted transparent;
          &:hover {
            color:#333;
            cursor:pointer;
          }
        }
      }
    }

    input.select2-input {
      color:#878787;
      font-size:13px;
    }

    .select2-search {
      margin:3px 0 0;
    }

    .select2-no-results {
      padding:10px 0;
      text-align:center;
      background:transparent!important;

      a {
        font:normal 13px Arial;
        color:#3875d7
      }
    }

    .select2-results .select2-highlighted {
      background:transparent!important;
      color:inherit;
    }
  }

  div.circle {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width: 10px;
    height: 10px;
    display: inline-block;

    &.-small {
      width: 8px;
      height: 8px;
    }
  }
