  
  /**
   *  New layer dialog styles
   *
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  @import "../../common/buttons";



  .dialog.new_layer_dialog {
    display:none;
    margin-top:-186px;

    .content {
      padding-top:10px!important;
    }

    .foot {
      position:relative;
      height:27px;

      a {
        &.right {float:right}
        &.left {float:left}
        &.ok { @include green-button() }
        
        &.back {
          margin-top:7px;
          display:none;
          color:#AAA;
          font:normal 12px Arial;
          &:hover { color:white }
        }  
      }
      
      .loader {
        position:absolute!important;
        display:none;
        top:32px;
        right:151px;
        width:22px;
        height:22px;
        background:url('/assets/editor/white-ajax-loader.gif') no-repeat center center black;
        @include border-radius(3px);
      }
    }


    // TABS
    .tabs {
      display:block;
      height:auto;
      // padding:20px;
      // background:rgba(black,0.6);
      overflow:hidden;

      ul {
        position:relative;
        @include inline-block();
        width:auto;
        height:36px;
        
        &:before {
          content:'';
          position:absolute;
          bottom:0;
          left:100%;
          width:1000px;
          height:1px;
          background:#AAA;
        }
      }

      li {
        float:left;
        margin-right:-1px;
      }

      a {
        position:relative;
        @include inline-block();
        padding:10px 15px;
        font:bold 12px Arial;
        color:#AAA;
        text-decoration:none;
        text-transform:uppercase;
        border:1px solid transparent;
        border-bottom-color:#AAA;
        @include border-top-radius(3px);

        &:hover {
          text-decoration:underline;
        }

        &.selected {
          color:white;
          border-color:#AAA;
          border-bottom-color:transparent;

          &:hover {
            text-decoration:none;
            cursor:default;
          }
        }
      }
    }

    // PANES
    .panes {
      padding:20px 0;
      // background:rgba(black,0.6);

      label {
        font:bold 11px Arial;
        text-transform:uppercase;
        color:#AAA;
      }

      p {
        display:block;
        margin:15px 0 0 0;
        font:normal 12px Arial;
        color:#999;
        font-style:italic;
      }

      input.text {
        display:block;
        width:437px;
        padding:8px 12px;
        margin-top:8px;
        border:1px solid #AAA;
        @include border-radius(2px);
        background:#EEE;
        outline:none;
      }

      div.error {
        display:none;
        margin-top:20px;
        padding:5px 10px;
        background:rgba(red,0.5);
        @include border-radius(3px);
        
        p {
          margin:0;
          color:#CCC;
          font-style:normal;
        }
      }
    }
  }


  // WMS pane
  div.list { display:none }
  
  ul.wms_layers {
    display:block;
    min-height:60px;
    max-height:200px;
    overflow:auto;

    li {
      position:relative;
      display:block;
      padding:15px 0;
      border-bottom:1px solid #555;

      &.empty {
        padding: 20px 80px 10px;
        font: normal 15px Arial;
        color: #AAA;
        text-align: center;
      }

      &:last-child { border-bottom:0 }
    }

    div.msg {
      @include inline-block();
      width:375px;
    }

    h5 {
      display:block;
      font:bold 15px Arial;
      color:#DDD;

      &.disabled {
        color:#999;
      }
    }

    a {
      position:absolute;
      right:0;
      top:14px;
      @include grey-button();
      @include box-shadow(none);
    }

    p { margin-top:5px!important }
  }
