<div class='specie_selector'>
  <a href='#/close' class='close'>X</a>
  <h2>DWC species</h2>
  <div class='block'>
    <p>Select a specie from the list and import it.</p>
    <select data-placeholder='Select a specie'></select>
    <a href='#/import' class='button import'>IMPORT</a>
  </div>
</div>