<div id='csv_error' class='specie_selector'>
  <a onclick='changeApplicationTo()' class='close'>X</a>
  <h3>There are errors in your uploaded file</h3>
  <ul></ul>
  <span>
    <a class='cancel'>Cancel</a>
  </span>
</div>