
  /**
   *  Buttons for GeoCAT
   */

  @import "compass/css3/inline-block";
  @import "compass/css3/box-shadow";
  @import "compass/css3/images";
  @import "compass/css3/border-radius";

  @mixin grey-button() {
    @include inline-block();
    padding:4px 12px;
    font:bold 9px Arial;
    color:#666666;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow:0 1px white;
    @include box-shadow(white 0 1px 0 0);
    border:1px solid #999999;
    @include border-radius(3px);
    background:#FFF;//IE9
    @include background(linear-gradient(#FFFFFF,#CCCCCC));

    &:hover {
      background:#DDD;//IE9
      @include background(linear-gradient(#FFF,#AAA));
    }
    &:active {
      background:#AAA;//IE9
      @include background(linear-gradient(#AAA,#FFF));
    }
  }

  @mixin green-button() {
    @include inline-block();
    padding:6px 12px;
    font:bold 13px Arial;
    color:#4E681A;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow:0 1px #B2D571;
    border:none;
    @include border-radius(3px);
    background:#A9E13B;//IE9
    @include background(linear-gradient(#A9E13B,#739C29));
    outline:none;
    text-align:center;

    &:hover {
      background:#739C29;//IE9
      @include background(linear-gradient(#A9E13B,#5C7D21));
    }
    &:active {
      color:#2A3814;
      background:#5C7D21;//IE9
      @include background(linear-gradient(#5C7D21,#A9E13B));
    }
  }