<a href="#/close" class="close">X</a>
<h3>There are errors in your uploaded csv file</h3>
<ul></ul>
<span>
  <a href="#/cancel" class="cancel">Cancel</a>
  <a href="#/continue" class="continue">continue</a>
</span>