<div class="inner_infowindow">
  <p>Are you sure you want to delete this point?</p>
  <div class="buttons">
    <a href="#/cancel" class="cancel">cancel</a>
    <a href="#/yes" class="yes">YES</a>
  </div>
</div>