<h4>DELETE THESE <%= type %> POINTS</h4>
<p>Are you sure you want to delete all these points?</p>
<div class="actions">
  <a href="#/yes" class="yes">yes</a>
  <a href="#/cancel" class="cancel">cancel</a>
</div>
<span class="arrow"></span>