  <a class="close"></a>
  <h3>EDITING METADATA</h3>
  <form action="">
    <span class="error_latlng"><p>You need a valid lat/lng</p></span>
    <div class="three_gaps"><span><label>LATITUDE</label><input onfocus="this.value = this.value;" type="text" id="metadata_latitude" value=""/></span><span class="last"><label>LONGITUDE</label><input onfocus="this.value = this.value;" type="text" id="metadata_longitude" /></span></div>
 <div class="three_gaps"><span><label>COLLECTION CODE</label><input onfocus="this.value = this.value;" type="text" id="metadata_collection" /></span><span><label>INSTITUTION CODE</label><input onfocus="this.value = this.value;" type="text" id="metadata_institution" /></span><span class="last"><label>CATALOG NUMBER</label><input onfocus="this.value = this.value;" type="text" id="metadata_catalog" /></span></div>
 <div class="two_gaps"><span><label>BASIS OF RECORD</label><input onfocus="this.value = this.value;" id="metadata_basis" /></span></div>
 <div class="two_gaps"><span><label>COLLECTOR</label><input onfocus="this.value = this.value;" type="text" id="metadata_collector" /></span><span class="short last"><label>DATE COLLECTED</label><input onfocus="this.value = this.value;" type="text" id="metadata_date" /></span></div>
 <div class="three_gaps"><span><label>COUNTRY</label><input onfocus="this.value = this.value;" type="text" id="metadata_country" /></span><span><label>STATE/PROVINCE</label><input onfocus="this.value = this.value;" type="text" id="metadata_state" /></span><span class="last"><label>COUNTY</label><input onfocus="this.value = this.value;" type="text" id="metadata_county" /></span></div>
 <div class="three_gaps"><span><label>ALTITUDE</label><input onfocus="this.value = this.value;" type="text" id="metadata_altitude" /></span><span><label>LOCALITY</label><input onfocus="this.value = this.value;" type="text" id="metadata_locality" /></span><span class="last"><label>REPOR. PRECISION</label><input onfocus="this.value = this.value;" type="text" id="metadata_precission" /></span></div>
 <div class="two_gaps"><span><label>IDENTIFIER</label><input onfocus="this.value = this.value;" type="text" id="metadata_identifier" /></span></div>
 <div class="one_gap"><span><label>NOTES</label><input onfocus="this.value = this.value;" type="text" id="metadata_gbif" /></span></div>
 <div class="one_gap"><span><label>URL</label><a class="goGBIF" href="#" target="_blank">Visit URL</a><input type="text" onfocus="this.value = this.value;" id="metadata_url" /></span></div>
 <div class="slider_top"><label>MAP PRECISION</label><p>3KM</p></div>
 <div class="slider"></div>
 <span class="bottom"><a class="cancel">Cancel</a><a class="save">SAVE CHANGES</a></span>
 </form>