<a class="close" href="#/close">close</a>
<div class="inner">
  <h3>LAYERS OVERLAY</h3>
  <ul></ul>
  <form class="import">
    <input type="text" placeholder="Add a valid XYZ/KML url..." />
    <input type="submit" value="Import" />
  </form>
  <span class="error">
    <p>Ops! It looks like your location doesn’t exists</p>
  </span>
</div>