<a href="#/close" class="close">X</a>
<div class="head">
  <h3>Choose your type and add a new layer</h3>
</div>
<div class="content">
  <div class="tabpane">
    <div class="tabs">
      <ul></ul>
    </div>
    <div class="panes">
    </div>
  </div>
</div>
<div class="foot"></div>