<div class="top">
  <h3>REDUCTION ANALYSIS</h3>
</div>
<div class="content">
  <div class="stats eoo">
    <div class="comparative">
      <ul>
        <li class="comp left original">
          <div class="info">
            <label>Original</label>
            <p><%= (EOO).toString().parseFloat() %></p>
          </div>
          <div class="bar"></div>
        </li>
        <li class="comp right reduced">
          <div class="info">
            <label>Change</label>
            <p><%= (reduction.EOO).toString().parseFloat() %></p>
          </div>
          <div class="bar"></div>
        </li>
      </ul>
      <span class="per">-20%</span>
    </div>
    <span class="label">EOO (km<sup>2</sup>)</span>
  </div>

  <div class="stats aoo">
    <div class="comparative">
      <ul>
        <li class="comp left original">
          <div class="info">
            <label>Original</label>
            <p><%= (AOO).toString().parseFloat() %></p>
          </div>
          <div class="bar"></div>
        </li>
        <li class="comp right reduced">
          <div class="info">
            <label>Change</label>
            <p><%= (reduction.AOO).toString().parseFloat() %></p>
          </div>
          <div class="bar"></div>
        </li>
      </ul>
      <span class="per">-20%</span>
    </div>
    <span class="label">AOO (km<sup>2</sup>)</span>
  </div>
</div>
<div class="bottom">
  <nav>
    <a href="#/reset-reduction" id="reset-reduction">Reset original</a>
    <a href="#/apply-reduction" id="apply-reduction">Apply results</a>
  </nav>
</div>