<a href="#/close" class="close">X</a>
<div class="head">
  <h3>Start your new assessment by...</h3>
</div>
<div class="content">
  <ul>
    <li>
      <label>Import data from online source</label>
      <a href="#/import-data" class="green button import_data">Import data</a>
    </li>
    <li>
      <label>Upload your existing data (CSV,GeoCAT)</label>
      <a href="#/upload-data" class="green button upload_data">Upload data</a>
    </li>
    <li>
      <label>Add / Edit points just in the map</label>
      <a href="#/add-points" class="green button add_points">Add points</a>
    </li>
  </ul>
</div>
<div class="foot">
  <p>First time in GeoCat? <a target="_blank" href="http://www.kew.org/geocat-screencasts">Check out</a> the starting guide</p>
</div>