
  /**
   *  Analysis 
   */

  @import "compass/css3/opacity";
  @import "compass/css3/border-radius";


  div.analysis {
    .reduction_mamufas {
      position:absolute!important;
      top:0; right:0; left:0; bottom:0;
      background:#242628;
      @include opacity(0.6);
      z-index:5;
    }
  }


  div.analysis_data {
    position:relative;
    float:left;
    width:100%;
    height:0;
    overflow:hidden!important;

    // EOO & AOO
    ul {
      position:relative;
      float:left;
      width:190px; 
      height:105px;
      margin:0 0 5px 16px;
      padding:0;

      li {
        float:left;
        width:190px;
        min-height:30px;
        padding:0;
        margin:0 0 15px;

        // Types
        &.lc {background:image-url('editor/LC.png') no-repeat right 0;}
        &.cr {background:image-url('editor/CR.png') no-repeat right 0;}
        &.en {background:image-url('editor/EN.png') no-repeat right 0;}
        &.nt {background:image-url('editor/NT.png') no-repeat right 0;}
        &.vu {background:image-url('editor/VU.png') no-repeat right 0;}
      }
    }

    // Elements
    label {
      float:left;
      width:190px;
      font:bold 11px Arial;
      color:#999999;
      line-height:11px;
    }

    p {
      float:left;
      width:190px;
      padding:0;
      margin:2px 0 0 0;
      font:bold 13px Arial;
      color:#666666;
      text-shadow:0 1px white;
      line-height:13px;

      &.change {
        float:left;
        width:100%;
        margin:4px 0 0;
        font:normal 11px Arial;
        color:#999999;
        text-shadow:none;
        line-height:11px;

        a {
          float:none;
          text-decoration:underline;
          color:#FF6600;
          background:none;
          line-height:11px;
          
          &:hover {
            color:#FF3300;
            cursor:pointer;
          }
        }
      }

      sup {line-height:8px;}
    }



    // Analysis buttons
    // - Reduction
    // - Report

    nav {
      display:block;
      width:100%;

      a {
        float:left;
        width:90px;
        height:15px;
        padding:10px 0 9px!important;
        font:bold 12px Arial;
        color:#333333;
        text-shadow:0 1px #B7D58D;
        text-decoration:none;
        text-align:center;
        padding:0;
        background:image-url('editor/download_analysis_bkg.png') repeat-x 0 0;

        &#reduction {
          display:block;
          width:100%;
          // width:129px;
          background:image-url('editor/reduced_analysis_bkg.jpg') repeat-x 0 0;
          text-shadow:0 1px #F1D796;
          @include border-bottom-radius(5px);
        }

        &#report {
          @include border-bottom-right-radius(5px);
        }

        &:hover { text-decoration:underline }

        &.disabled {
          @include opacity(0.4);
          &:hover {
            cursor:default;
            text-decoration:none;
          }
        }
      }
    }
  }

  // Cellsize mini popup
  div.cellsize {
    display:none;
    position:absolute!important;
    bottom:-176px;
    left:-12px;
    width:154px;
    height:190px;
    margin:0;
    padding:38px 26px 0 26px;
    background:image-url('editor/cellsize_bkg.png') no-repeat 0 0;
    z-index:1000;

    h4 {
      float:left;
      width:100%;
      margin:0;
      padding:0;
      font:normal 11px "Futura","FuturaStdMedium";
      color:#666666;
    }

    p {
      float:left;
      margin:13px 0 0 0;
      width:100%;
      font:normal 11px Arial;
      color:#666666;
    }

    span {
      float:left;
      width:100%;
      margin:17px 0 0 0;

      label {float:left; width:auto; margin:0; font:normal 10px Arial; color:#B3B3B3;}
      p {
        float:right;
        width:auto;
        margin:0;
        font:normal 10px Arial;
        color:#F7AC53;
        
        &.disabled { color:#B3B3B3 }
      }
    }

    a#auto_value {
      float:left;
      margin:18px 0 0 0!important;
      padding:0 0 0 18px!important;
      font:normal 13px Arial;
      text-decoration:none;
      color:#999999;
      background:image-url('editor/checkbox.png') no-repeat 0 1px!important;

      &.selected {background-position:0 -26px!important; color:#333333;}
    }
    
    div.slider {
      float:left;
      width:100%;
      height:5px;
      margin:6px 0 0 0;

      &.ui-slider-disabled {
        cursor:default!important;

        .ui-slider-range{
          background: #CCC;
        }
      }
    }
    
    div.bottom {
      float:left;
      width:100%;
      margin:8px 0 0 0;

      a {
        float:left;
        width:auto;
        padding:3px 0 0 0;
        font:normal 11px Arial;
        color:#FF6600;
        text-decoration:underline;
        &:hover {color:#FF3300; cursor:pointer;}

        &.done {
          float:right;
          width:54px;
          height:21px;
          padding:0;
          background:image-url('editor/done_gray.png') no-repeat 0 0;
          text-indent:-9999px;
          &:hover { background-position:0 -21px }
        }

        &.disabled {
          color:#999999;
          &:hover { color:#999999; cursor:default }
        }
      }
    } 
  }



  // Reduction analysis popup

  .reduction_analysis {
    position:absolute;
    display:none;
    width:232px;
    height:330px;
    right:274px;
    top:140px;
    padding:11px 24px 12px 11px;
    background:image-url('editor/reduction_analysis_bkg.png') no-repeat 0 0;
    z-index:10;

    div.top {
      display:block;
      height:40px;

      h3 {
        display:block;
        line-height:12px;
        padding:14px 0;
        text-align:center;
        text-transform:uppercase;
        font:normal 11px "Futura","FuturaStdMedium";
        color:#666666;
        text-shadow:0 1px #FFFFFF;
      }
    }

    div.content {
      display:block;
      height:256px;

      div.stats {
        position:relative;
        display:block;
        height:90px;
        padding:20px;

        ul {
          display:block;
          height:73px;
        }

        li {
          position:relative;
          float:left;
          height:73px;
          width:94px;

          &.left {
            div.info {left:0;}
            div.bar {
              right:1px;
              height:100%;
              background:image-url('editor/analysis_bar_bkg.png') repeat-y 0 0;
            }
            p, label { text-align: right }
          }

          &.right {
            div.info {right:0}
            div.bar {left:1px}
            p, label { text-align: left }

            &.less .bar {background:#98BD17}
            &.more .bar {background:#FFB44F}
          }
        }

        div.info {
          position:absolute;
          bottom:0;
          width:65px;
        }

        div.bar {
          position:absolute;
          bottom:3px;
          width:21px;
          min-height:3px;
          max-height:100%;
        }

        label {
          display:block;
          font:normal 11px "Futura","FuturaStdMedium";
          color:#AAA;
          text-shadow:0 1px #FFFFFF;
        }

        p {
          display:block;
          font:normal 11px "Futura","FuturaStdMedium";
          color:#666666;
          text-shadow:0 1px #FFFFFF;
        }

        span.per {
          position:absolute;
          top:48px;
          left:50%;
          width:33px;
          padding:10px 0 11px;
          line-height:11px;
          margin-left:-17px;
          background:white;
          text-align:center;
          font:bold 11px Arial;
          @include border-radius(33px);

          &.less { color:#98BD17 }
          &.more { color:#FFB44F }
        }

        span.label {
          position:absolute;
          bottom:15px;
          left:0;
          width:100%;
          text-align:center;
          font:normal 11px "Futura","FuturaStdMedium";
          color:#666666;
          text-shadow:0 1px #FFFFFF;
        }
      }
    }

    div.bottom {
      display:block;
      height:34px;
      
      nav {
        display:block;

        a {
          float:left;
          width:116px;
          height:15px;
          padding:9px 0 10px!important;
          font:bold 13px Arial;
          color:#333333;
          text-shadow:0 1px #B7D58D;
          text-decoration:none;
          text-align:center;
          padding:0;
          background:image-url('editor/download_analysis_bkg.png') repeat-x 0 0;

          &#reset-reduction {
            width:115px;
            border-right:1px solid #B93D3A;
            background:image-url('editor/discard_analysis_bkg.jpg') repeat-x 0 0;
            text-shadow:0 -1px #923E2A;
            color:white;
            @include border-bottom-left-radius(4px);
          }

          &#apply-reduction {
            @include border-bottom-right-radius(4px);
          }

          &:hover { text-decoration:underline }
        }

      }
    }
  }