
  /**
   *  Bar for internet explorer browsers
   *
   */

  .ie_bar {
    background:yellow;

    p {
      display:block;
      padding:10px;
      font:normal 14px Arial;
      color:#454545;
      text-align:center;
    }

    .close {
      position:absolute;
      top:6px;
      right:12px;
      font:normal 18px Arial;
      color:#676767;
      text-decoration:none;

      &:hover {
        color:#333;
        text-decoration:underline;
      }
    }
  }