<!DOCTYPE html>
<html>
  <head>
    <title>RLSAT - Red List Species Assessment Tool</title>
    <link rel="shortcut icon" href="/favicon.ico" > 
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
