<!DOCTYPE html>
<html>
  <head>
    <title>GeoCAT</title>
    <link rel="shortcut icon" href="/favicon.ico" >
    
    <%= yield :css %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
